body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,section,article,aside,header,footer,nav,dialog,figure,hgroup{margin:0;padding:0;}input,select,textarea{font-size:100%;}table {border-collapse:collapse;border-spacing:0;}fieldset,img {border:0;}caption,th{text-align:left;}ul,ol,li{list-style:none;}em,i{font-style:normal;}del{text-decoration:line-through;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}img{border:0;max-width:100%;}input,img{vertical-align:middle;}input:focus,a:focus{outline:none;}a{color:#333333;text-decoration:none;}a:active{opacity:.7;}*{ outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);box-sizing:border-box;}html{-webkit-text-size-adjust:none;overflow-y:scroll;}body{background:#fafafa;font-family: 微软雅黑,;font-size: 14px;}

@font-face {
  font-family: 'iconfont';
  src: url('../images/mjh/iconfont/iconfont.eot');
  src: url('../images/mjh/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../images/mjh/iconfont/iconfont.woff') format('woff'),
  url('../images/mjh/iconfont/iconfont.ttf') format('truetype'),
  url('../images/mjh/iconfont/iconfont.svg#iconfont') format('svg');
}
/*-------------------------------------------*/
.mjh-bt-wk{width:100%;height: 65px;margin:60px 0;overflow-x:hidden;}
.mjh-bt-nk{width:1200px;margin:0 auto;height:100%;padding:0 12px;position: relative;}
img.mjh-bt-zt{margin-left: -240px;}
img.mjh-bt-yt{margin-right:-246px;float: right;}
.mjh-bt-zsz{font-size: 32px;font-weight: bold;position:absolute;left:20px;top: 0px;}
.mjh-bt-zxz1{font-size: 20px;font-weight: bold;}
.mjh-bt-zxz2{font-size: 20px;color:#57caff;}
.mjh-bt-zx{position:absolute;left:20px;bottom: 0px;}
.mjh-bt-y{
    position:absolute;right:12px;bottom:0px;
    line-height: 34px;font-size: 14px;
}
.mjh-jysj.dangqian{color:#01B5FF;border-top: 2px solid #01B5FF;}
.mjh-bt-y span{margin:0px 10px;padding:5px 0;cursor: pointer;}
/*就业展示*/
.mjh-jyzswk{width:1200px;margin:0 auto;position:relative;height:490px;}
.mjh-jyzs{
    width:1200px;margin:0 auto;
    position:absolute;top: 0;left:0;
    /*margin-top: 60px;*/
    display:none;
}
.mjh-jyzs.dangqian{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.mjh-jyzs-yu{
    width:264px;height:490px;
    padding:8px;
    position:relative;
}
.mjh-jyzs-yuwk{
    position:absolute;top: 0;left:0;
}
.mjh-jyzs-nk{
    width:100%;height:100%;background: #fff;
    padding: 1px 30px;
}
.mjh-jyzs-tx{
    margin:66px auto;width:190px;height:190px;overflow:hidden;border-radius: 50%;border:3px solid #fff;box-shadow: 2px 2px 16px 0 #a9a9a9;
}
.mjh-jyzs-xm{
    font-size: 20px;color:#000;display: block;
}
.mjh-jyzs-ywxm{font-size: 14px;line-height: 34px;display: block;width:108px;border-bottom: 1px dashed #444;margin-bottom: 10px;}
.mjh-jyzs-yx{line-height: 24px;}
.mjh-jyzs-fl{line-height: 24px;color:#94d43b;}
.mjh-jyzs-xz{font-size: 24px;}

/*实训制度*/
.mjh-sxzd{
    width:1200px;margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.mjh-sxzd-qy{
    width:148px;height:148px;
}
.mjh-sxzd-tb{
    width:101px;height:101px;
    border:1px solid #646464;
    border-radius: 50%;
    /*overflow:hidden;*/
    margin:0 auto;
    position:relative;

  font-family:"iconfont" !important;
  font-size:50px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 101px;
  text-align: center;
  color:#737373;

}
.mjh-sxzd-dian{
    position:absolute;
    top: -3px;left:47px;
    width:6px;height:6px;
    border-radius: 50%;
    background:#646464;
}
.mjh-sxzd-wz{
    font-size: 20px;line-height: 28px;
    text-align: center;margin-top: 20px;
    display:block;color:#646464;
}
/*学员作品*/
.mjh-xyzpwk{
    margin:0 auto;width:1200px;height:638px;
}
.mjh-xyzp{
    margin:0 auto;width:1200px;overflow:hidden;
    height:auto;
    display:none;
}
.mjh-xyzp.dangqian{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mjh-xyzp-zt{float:left;display:block;}
.mjh-xyzp-zxjy{
    width:180px;height:360px;float:left;
}
.mjh-xyzp-jy{
    font-size: 20px;color:#111;display:block;
}
.mjh-xyzp-bj{
    font-size:12px;color:#555;display:block;line-height: 1.5em;
}
.mjh-xyzp-jie{width:100%;border-bottom: 1px dashed #555;margin:20px 0;}
.mjh-xyzp-lbfl{
    padding:0px 10px;line-height: 27px;
    border:1px solid #555;
    /*border-image: linear-gradient(-106deg,#28b1ff,#5ae65d) 100% 1 0 stretch;*/
    border-radius: 15px;margin:5px;
    display:inline-block;
    color:#262626;
}
.mjh-xyzp-ms{line-height: 24px;color:#333;}
.mjh-xyzp-ck{
    width:180px;height:35px;line-height: 35px;
    text-align: center;color:#262626;
    border-radius: 18px;border:1px solid #555;
    margin-top: 15px;
}


.mjh-zpzs-zpl{
    width:554px;height:500px;float:left;
    overflow:hidden;
    position:relative;
}
.mjh-zpzs-zpt{
    margin:8px;float:left;
}
.mjh-zpzs-zpk{
    min-width:2000px;/*overflow:hidden;*/
    height:420px;margin-left: 0px;
}
.mjh-zpzs-xian{
    width:554px;height:2px;
    background-image:linear-gradient(-106deg,#5ae65d,#28b1ff) ;
    margin-top: 60px;
    position:absolute;
    bottom:10px;left:0;
}
.mjh-zp-dhbnt{position:absolute;width:20px;height:6px;left:0;top: -2px;border-radius: 3px; background:#479ffa;}

/*优逸新闻*/

.mjh-yyxw{
    width:1200px;height:312px;
    margin:0 auto;
}
.mjh-yyxw-zcxw{width:225px;position:relative;height:100%;float:left;}
.mjh-yyxw-zxwbt{
    font-size: 18px;
    color:#222;
}
.mjh-yyxw-zxwfb{font-size: 12px;color:#666;line-height: 30px;}
.mjh-yyxw-zxwfbj{padding:0 10px;}
.mjh-yyxw-xwjj{color:#666;line-height: 24px;margin-top: 5px;}
.mjh-yyxw-zxwyd{display:block;position:absolute;bottom:0;left:0;}

.mjh-yyxw-zjxw{width:530px;position:relative;height:100%;padding:0 12px;float:left;}
.mjh-yyxw-zhxwtp{
    width:416px;height:312px;position:relative;
float:left;}
.mjh-yyxw-zhxwtp img{position:absolute;top: 0;left:0;}
.mjh-yyxw-zhxwbtq{width:85px;height:100%;float:left;display:flex;flex-direction: column;justify-content:space-between;}
.mjh-yyxw-zhxwbt{width:85px;height:80px;
    position:relative;
    line-height: 80px;text-align: center;font-size: 60px;color:#ccc;
    background-image: linear-gradient(-164deg,#28b1ff,#5ae65d);
    background-clip: text;
    -webkit-background-clip: text;
    
}
.mjh-yyxw-zhxwbt img{position:absolute;top: 0;left:0;}
/*(-106deg,#5ae65d,#28b1ff) */

.mjh-yyxw-ybxwwk{width:440px;height:100%;float:right;}
.mjh-yyxw-ybxw{
    width:440px;height:100%;float:right;display:none;
    border-left: 1px dashed #ccc;padding-left: 15px;
}
.mjh-yyxw-ybxw.dangqian{display:block;}
.mjh-yyxw-yxwqu{
    width:100%;height:33.333%;
    padding:10px 0;
    border-bottom: 1px dashed #ccc;
}
.mjh-yyxw-yqs{width:100%;overflow:hidden;}
.mjh-yyxw-yqbt{font-size: 18px;color:#222;float:left;}
.mjh-yyxw-yqsj{color:#505050;float:right;}
.mjh-yyxw-yqms{color:#666;line-height: 24px;margin-top: 10px;}

/*热门问题*/
.mjh-rmwtwk{width:1200px;height:370px;margin:0 auto;}
.mjh-rmwt{width:1200px;height:370px;margin:0 auto;overflow:hidden;display:none;}
.mjh-rmwt.dangqian{display:block;}
.mjh-wtqy{width:2400px;height:307px;margin-left: 0;}
.mjh-wtfqu{width:268px;height:305px;border-top: 2px solid #666;padding:15px 10px;margin:0 16px;position:relative;float:left;}
.mjh-wtfqu.active{border-top:none;background:#fff;box-shadow: 0 0 16px 0 #a1a1a1;padding-top: 17px;}
.mjh-wtfqx{display:none;position:absolute;top: 0;left:0;}
.mjh-wtfqy-xx{
    width:250px;height:60px;
}
.mjh-wtfqy-xh{color:#ccc;width:70px;height:60px;float:left;font-size: 60px;line-height: 60px;
    /*color:transparent;*/
    background-image: linear-gradient(-164deg,#28b1ff,#5ae65d);
    background-clip: text;
    -webkit-background-clip: text;
}
.mjh-wtfqy-xy{width:180px;height:60px;padding-left: 10px; float:left;}
.mjh-wtfqy-bt{font-size: 20px;color:#222;line-height: 1.5em;}
.mjh-wtfqy-fb{font-size: 12px;color:#666;line-height: 1.5em;}
.mjh-wtfqy-fbj{padding:0 10px;}
.mjh-wtfqy-yd{position:absolute;bottom:20px;right:20px;}

.mjh-wt-dhx{width:1200px;height:2px;background-image:linear-gradient(-106deg,#5ae65d,#28b1ff) ;margin-top: 55px;position:relative;}
.mjh-wt-dhbnt{position:absolute;width:20px;height:6px;left:0;top: -2px;border-radius: 3px; background:#479ffa;}

/*荣誉证书*/
.mjh-ryzswk{width:1200px;height: 218px;margin:0 auto;}
.mjh-ryzs{width:1200px;height: 218px;margin:0 auto;display:none;}
.mjh-ryzs.dangqian{display:block;}
.mjh-ryzs-qy{
    width:290px;height:218px;float:left;margin:0 5px;
}
.mjh-ryzs-inqy{width:290px;height:218px;transform-style: preserve-3d;position:relative;transition: all 1s;}
.mjh-ryzs-zm,.mjh-ryzs-fm{width:290px;height:218px;position:absolute;top: 0;left:0;backface-visibility: hidden;}
.mjh-ryzs-zm{background:#666;}
.mjh-ryzs-fm{background:red;transform:rotateY(180deg);}
.mjh-ryzs-qy:hover .mjh-ryzs-inqy{transform: rotateY(-180deg);}

/*合作企业*/
.mjh-hzqywk{width:1200px;height:184px;margin:0 auto;margin-bottom: 60px;}
.mjh-hzqy{width:1200px;height:184px;margin:0 auto;padding:0 125px;display:none;}
.mjh-hzqy.dangqian{display:block;}
.mjh-qy-loge{display:block;float:left;width:150px;height:67px;margin:12px 20px;border:1px solid #d2d2d2;overflow:hidden;}
.mjh-qy-loge:hover{border:1px solid #0369db;}

/*优逸视频*/
.mjh-yysp{
    width:1200px;height:550px;margin:0 auto;
}
.mjh-sysp-qy{width:460px;height:550px;margin:0 70px;float:left;}
.mjh-sysp-tp{display:block;}
.mjh-sysp-xqu{width:345px;height:250px;margin:0 auto;padding:10px 0;position:relative;}

.mjh-sysp-sbt{font-size: 18px;color:#222;}
.mjh-sysp-ywbt{font-size: 16px;color:#01b5ff;}
.mjh-sysp-gd{display:block;position:absolute;right:0;top: 20px;}
.mjh-sysp-spmc{color:#666;line-height: 44px;display:block;}
.mjh-sysp-dian{width:5px;height:5px;background:#01b5ff;border-radius: 50%;display:inline-block;margin:0 5px;}